
/* control panel */
#control-panel {
	opacity: 0.0;
}

/* shelf */
#shelf {
	position: relative;
}

#shelf .product {
	position: absolute;
}

/* foother */
#footer {
	background-color: #0e77bd;
	margin-top: 50px;
	padding: 50px;
}

#footer a {
	display: block;
}

#footer a:link {
	color: white;
}

#footer a:visited {
	color: white;
}

#footer a:hover {
	text-decoration: underline;
	color: white;
}

#footer a:active {
	text-decoration: underline;
	color: lightgrey;
}

#footer h3 {
	color: white;
}