/* carousel */
.carousel-inner>.item>img {
	margin: 0 auto;
	xheight: 320px;
}

/* panel */
.zpanel {
	width: 1024px;
}

/* popover */
.popover {
	max-width: 100%;
	min-width: 40%;
}
/*
.my-popover-inner {
	max-width: auto;
}

.xpopover-inner {
	width: 600px !important;
	xxmax-width: 100%;
}

.xpopover-content {
	max-width: 600px;
}
*/
/* control panel */
#control-panel {
	opacity: 0.0;
}

/* shelf */
#shelf {
	position: relative;
}

#shelf .product {
	position: absolute;
}

/* foother */
#footer {
	background-color: #0e77bd;
	margin-top: 50px;
	padding: 50px;
}

#footer a {
	display: block;
}

#footer a:link {
	color: white;
}

#footer a:visited {
	color: white;
}

#footer a:hover {
	text-decoration: underline;
	color: white;
}

#footer a:active {
	text-decoration: underline;
	color: lightgrey;
}

#footer h3 {
	color: white;
}